{{#> create-user}}
<p>New User Created</p>
<h2>User {{name}} has been created successfully!<br></h2>
<button onclick="location.href='/admin'" type="button">Main Menu</button><br>
<br>
{{/create-user}}


