<h1> PostgreSQL Admin Interface </h1>

{{#> delete-confirm}}
<p>Deleted</p>
<h2>User {{name}} has been deleted.<br></h2>
<button onclick="location.href='/admin'" type="button">Main Menu</button><br>
<br>
{{/delete-confirm}}
